/* Step 4  */

/* Transboxes  */

#trans1Step4{
    width: 40px;
    top: 155px;
    left: 95px;
}

#trans2Step4{
    width: 40px;
    top: 155px;
    left: 155px;
}

#trans3Step4{
    width: 40px;
    top: 195px;
    left: 95px;
}

#trans4Step4{
    width: 40px;
    top: 195px;
    left: 155px;
}

#trans5Step4{
    width: 40px;
    top: 235px;
    left: 95px;
}

#trans6Step4{
    width: 40px;
    top: 235px;
    left: 155px;
}

#trans7Step4{
    width: 40px;
    top: 265px;
    left: 95px;
}

#trans8Step4{
    width: 40px;
    top: 265px;
    left: 155px;
}

#trans9Step4{
    width: 40px;
    top: 315px;
    left: 95px;
}

#trans10Step4{
    width: 40px;
    top: 315px;
    left: 155px;
}

#trans11Step4{
    width: 40px;
    top: 355px;
    left: 95px;
}

#trans12Step4{
    width: 40px;
    top: 355px;
    left: 155px;
}

#trans13Step4{
    top: 160px;
    left: 485px;
    width: 250px;
    height: 70px;
}


/* Arrows  */

#arr1Step4{
    top: 160px;
    left: 50px;
}

#arr2Step4{
    top: 160px;
    left: 120px;
}

#arr3Step4{
    top: 195px;
    left: 50px;
}

#arr4Step4{
    top: 195px;
    left: 120px;
}

#arr5Step4{
    top: 235px;
    left: 50px;
}

#arr6Step4{
    top: 235px;
    left: 120px;
}

#arr7Step4{
    top: 275px;
    left: 50px;
}

#arr8Step4{
    top: 275px;
    left: 120px;
}

#arr9Step4{
    top: 320px;
    left: 50px;
}

#arr10Step4{
    top: 320px;
    left: 120px;
}

#arr11Step4{
    top: 360px;
    left: 50px;
}

#arr12Step4{
    top: 360px;
    left: 120px;
}

#arr13Step4{
    top: 175px;
    left: 730px;
}

